.gallery {
    display: flex;
    flex-wrap: wrap;

    &__image{
        width: 25%;
        height: 100%;
        object-fit: contain;
        @include breakpoint(s) {
            width: 50%;
        }
    }
}