.about {
    background-image: url('../images/about-bg.png');
    background-repeat: no-repeat;
    background-position: right;
    

    &__container {
        @include container;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 80px 0;
    }

    &__text {
        max-width: 360px;
        margin-right: 10%;
    }

    &__paragraph {
        font-size: 1rem;
        color: $colorGrey;
        line-height: 30px;
        padding-bottom: 43px;  
        padding-top: 25px;
    }   
}