.about {
    background-image: url('../images/about-bg.png');
    background-repeat: no-repeat;
    background-position: right;
    @include breakpoint(m) {
        background: linear-gradient(to right, transparent 0%,rgba(0, 0, 0, 0.8) 100%),url('../images/about-bg.png');
        background-position: right;
        background-repeat: no-repeat;
        padding: 5em 0;
     }
     @include breakpoint(s) {
        background: linear-gradient(to right, transparent 0%,rgba(0, 0, 0, 0.8) 40%),url('../images/about-bg.png');
        background-position: right;
        background-repeat: no-repeat;
     }
    

    &__container {
        @include container;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include breakpoint(s) {
            flex-direction: column;
        }
    }

    &__text {
        max-width: 360px;
        margin-right: 10%;
        @include breakpoint(s) {
            max-width: 80vw;
            text-align: center;
            margin: auto;
        }
    }
    
    &__photo {
        margin-right: 10px;
        @include breakpoint(xs) {
            width: 100%;
            margin: auto;
        }
    }
}