.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 35px 40px;
    transition: padding .5s;

    &--fixed {
        position: fixed; 
        z-index: 1;
        padding: 8px 40px;
        background-color: rgba(0, 0, 0, 0.8);    
    }

    &__wrapper {
        max-width: 1600px;
        width: 100%;
        display: flex;
        align-items: center;
    }

    &__logo {
        color: $colorMain;
        font-family: "Indie Flower";
        font-size: 26px;
        font-weight: 700;
        margin-left: 19px;
    }

    &__menu {
        display: flex;
        list-style: none;
        max-width: 1127px;
        width: 100%;
        justify-content: flex-end;

        &-item {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            &:before {
                content: '';
                width: 33px;
                height: 33px;
                border-radius: 50%;
                background-color: $colorDarkRed;
                position: absolute;
                z-index: -1;
                transform: scale(0);
                transition: all .2s ease-in-out;
            }

            &--active:before {
                transform: scale(1);
            }
        }
       
        &-link {
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            color: $colorMain;
            text-decoration: none;
            padding: 0 20px;
        }
    }

    &__icon {
        margin-left: auto;
        cursor: pointer;
        color: $colorMain;
    }
}