.news {
   
    &__container {
        @include container; 
        display: flex;
        justify-content: space-around;
        padding-top: 70px;
        padding-bottom: 120px;
        flex-wrap: wrap;
        @include breakpoint(s) {
            padding-bottom: 20px;
        }
    }
    
    &__paragraph {
        padding-bottom: 0;
        &:after {
            content: "";
            display: block;
            background-color: $colorGrey;
            width: 100%;
            height: 1px;
            margin: 25px 0;
        }
    }

    &__image {
        transition: all 0.4s;
    }

    &__card {
        max-width: 305px;
        overflow: hidden;
        padding-bottom: 40px;

        &:hover .news__image{
            transform: scale(1.1);
        }
    }

    &__link {
        color: $colorMain;
        text-decoration: none;
        transition: color .2s;
   
        &:hover {
            color: $colorDarkRed;
        }

        &-arrow {
            margin-left: 5px;
            display: none;
        }
        
        &:hover .news__link-arrow{
            display: initial;
            color: $colorDarkRed;
        }
    }

    &__info {
        display: flex;
        justify-content: space-between;
    }
}
